* {
  box-sizing: border-box;
}

:root {
  font-size: 1em;
}

body {
  background: linear-gradient(to bottom right, #3a7bd5 0%, #cc33ff 80%);
  height: 100vh;
  font-family: 'Nunito', system-ui;
  line-height: 1.25;
}

a {
  color: inherit;
  text-decoration: none;
}
